Python language basics
==========

Comments
---------

In [1]:
# Everything on a line after a '#' is ignored

Basic calculations with numbers
-----------------

In [2]:
# Addition works as expected
1+2

3

In [5]:
# ... so does subtraction
2.5 - 6

-3.5

In [4]:
# Usual division 
3/2

1.5

In [5]:
# Floor division throws away 
# everything after the decimal point
3 // 2

1

In [6]:
13 % 5 # the remainder when dividing (13 == 5*2 + 3)

3

In [115]:
2**4 # 2 to the power 4 == 16

16

Variables
---------

In [3]:
# We can assign values to variables
a = 5
b = 6

a + b

11

In [4]:
# We can reassign values to variables
a = 9

a + b

15

Strings (text)
---------

In [8]:
# Strings store text. 
# We can use '...'  or "..." to denote a string.
"This is a string"

'This is a string'

In [1]:
'This is also a string'

'This is also a string'

In [9]:
# We can join strings using "+". 
# This is "concatenation" 
"begin" + "ner" + "s"

'beginners'

In [7]:
# We can assign strings to variables...
part1 = "This is a message "
part2 = "for you"
# ... and concatenate them
full_message = part1 + part2

full_message

'This is a message for you'

In [9]:
# We can access individual characters of a string
# Remember that we index from starting from zero
n = 2
full_message[n]

'i'

In [12]:
# We can multiply strings.
#
# Plug your ears and go ...
"la"*10

'lalalalalalalalalala'

Unpacking
-----------

In [19]:
# A more efficient way of writing
#
# a = 1
# b = 2
# c = 3
# d = 4
#
# is 
a, b, c, d = 1,2,3,4

# or
a, b, c, d = (1,2,3,4)

# This is called "unpacking"

d

4

In [20]:
# ... and we are not restricted to just numbers.
# We can unpack anything
firstname, lastname, age = ("john", "von neumann", 103)
lastname

'von neumann'

The print function
---------

In [23]:
# We can output text to the screen using the "print" function
print(5+4)
print("This is a message")
print("The answer is", 42)

9
This is a message
The answer is 42

Comparisons
---------------

In [30]:
# We can ask if comparisons are true ...
4 < 6 # ... strictly less than ...

True

In [33]:
4 <= 6 # ... less than OR equal ...

True

In [34]:
# ... or false
4 >= 6

False

In [35]:
# Notice the double equals "==" when asking is an equality is true:
3 == 3

True

In [36]:
3 == 4

False

In [37]:
# ... a single "=" will not work to compare numbers:
3 = 3

SyntaxError: can't assign to literal (<ipython-input-37-5cb7acf0270c>, line 2)

In [38]:
3 != 4 # ... not equal to ...

True

In [39]:
# We can a also compare variables
a,b,c = 5,6,7

In [40]:
b != 7 # b is a not equal to 7?

True

In [41]:
a < 5

False

In [42]:
a <= 5

True

In [43]:
b <= a

False

In [44]:
a < b < c

True

In [46]:
# Is the remainder when dividing by 2 equal to zero
# Is b even
b % 2 == 0

True

## Extra material

### Socratica videos
* Numbers    : https://youtu.be/_87ASgggEg0
* Arithmetic : https://youtu.be/Aj8FQRIHJSc
* Strings    : https://youtu.be/iAzShkKzpJo 
* Booleans   : https://youtu.be/9OK32jb_TdI