Lists, Slicing and Sorting
========================

Lists
-------

In [1]:
# We make a list using the [ ... ] notation
boy_names = [
    "benny", "adam", "bobby", 
    "randal", "timmy", "cartman", 
    "morty","junior-son", 
    "voldemort", "boeta", "pula",
    "zane"]

In [2]:
# How long is the list?
len(boy_names)

12

In [3]:
# is "morty" in the list?
"morty" in boy_names

True

In [4]:
# is "xavier" in the list?
"xavier" in boy_names

False

In [5]:
# We can get the zeroth element in the list. 
boy_names[0]

'benny'

In [6]:
# WARNING!
# Remember that we always start index from zero!!!!

# We distinguish between the "first" and "oneth" element.
# "First element of boy_names" is ambiguous, 
# do we mean boy_names[0] or boy_names[1] ?

# By "oneth" or "1-th" we always mean boy_names[1].

In [82]:
# Get the oneth element in the list. 
boy_names[1]

'adam'

In [83]:
# Get the last-th element in the list. 
boy_names[-1]

# This is why we index from zero.

'zane'

In [84]:
# Get the second-last-th element in the list. 
boy_names[-2]

'pula'

In [16]:
# We can replace an element
boy_names[1] = "adriaan"
boy_names

['benny',
 'adriaan',
 'bobby',
 'randal',
 'timmy',
 'cartman',
 'morty',
 'junior-son',
 'voldemort',
 'boeta',
 'pula',
 'zane']

In [17]:
# remove the oneth element from the list
del boy_names[1] 
boy_names

['benny',
 'bobby',
 'randal',
 'timmy',
 'cartman',
 'morty',
 'junior-son',
 'voldemort',
 'boeta',
 'pula',
 'zane']

Tuples
----------

In [21]:
# We make a tuple using the ( ... ) notation
boy_names_tuple = (
    "benny", "adam", "bobby", 
    "randal", "timmy", "cartman", 
    "morty","junior-son", 
    "voldemort", "boeta", "pula",
    "zane")

# Tuples work exactly like lists.


# with one difference.
# Lists can be changed, while tuples cannot

In [22]:
# How long is the list?
len(boy_names_tuple)

12

In [23]:
"morty" in boy_names_tuple

True

In [24]:
boy_names_tuple[-1]

'zane'

In [26]:
# We cannot change a tuple, so the
# following gives an error
boy_names_tuple[1] = "adriaan"

TypeError: 'tuple' object does not support item assignment

List slicing 
---------

In [22]:
girl_names = ["alice", "beatrice", "candy", 
    "dolly", "elaine", "francine", "geraldine"]

In [23]:
# ... a list made up of the oneth, twoth, etc. elements
girl_names[1:]

['beatrice', 'candy', 'dolly', 'elaine', 'francine', 'geraldine']

In [25]:
# ... a list made up of the zeroth, oneth, twoth elements,
# but excluding the threeth element onwards
girl_names[:3]

['alice', 'beatrice', 'candy']

In [26]:
# ... all but the last-th element
girl_names[:-1]

['alice', 'beatrice', 'candy', 'dolly', 'elaine', 'francine']

In [19]:
# ... all but the lastth and second lastth element
girl_names[:-2]

['alice', 'beatrice', 'candy', 'dolly', 'elaine']

In [20]:
# the oneth, twoth, threeth, fourth, elements 
# excluding the fiveth element
girl_names[1:5]

['beatrice', 'candy', 'dolly', 'elaine']

In [31]:
# Slicing also works for strings!
name = "Marlon Brando"
name[-4:]

'ando'

Sorting
----------

In [7]:
boy_names = [
    "benny", "adam", "bobby", 
    "randal", "timmy", "cartman", 
    "morty","junior-son", 
    "voldemort", "boeta", "pula",
    "zane"]

In [3]:
# We can easily sort alphabetically
sorted(boy_names)

['adam',
 'benny',
 'bobby',
 'boeta',
 'cartman',
 'junior-son',
 'morty',
 'pula',
 'randal',
 'timmy',
 'voldemort',
 'zane']

In [4]:
# ... or reverse alphabetically
sorted(boy_names, reverse=True)

['zane',
 'voldemort',
 'timmy',
 'randal',
 'pula',
 'morty',
 'junior-son',
 'cartman',
 'boeta',
 'bobby',
 'benny',
 'adam']

In [5]:
# ... or by length
sorted(boy_names, key = len)

['adam',
 'pula',
 'zane',
 'benny',
 'bobby',
 'timmy',
 'morty',
 'boeta',
 'randal',
 'cartman',
 'voldemort',
 'junior-son']

In [6]:
# ... or by the oneth letter
# (See the section on functions to understand the lambda expression)
sorted(boy_names, key = lambda item: item[1])

['randal',
 'cartman',
 'zane',
 'adam',
 'benny',
 'timmy',
 'bobby',
 'morty',
 'voldemort',
 'boeta',
 'junior-son',
 'pula']

Zipping 
---------------------

In [63]:
# Let us define two lists. 
# One with the names of girls we know,
# and one with their respective ages

girl_names = ["alice", "beatrice", "candy", "dolly", "elaine"]
their_ages = [10, 11, 10, 9, 8]

# We can "zip" these two lists together
# into one list of pairs. To get a "zip"  object.
name_age_pairs = zip(girl_names, their_ages)
name_age_pairs

In [64]:
# ... which we can convert into a list of pairs
list(name_age_pairs)

[('alice', 10), ('beatrice', 11), ('candy', 10), ('dolly', 9), ('elaine', 8)]

In [68]:
# Warning! When zipping lists of 
# unequal length the result will 
# have the length of the shortest
# list
result = list(zip(["a","b","c"], [1,2,3,4,5,6]))
result

[('a', 1), ('b', 2), ('c', 3)]

In [81]:
# We can also zip more than two lists
threezip = list(zip(["a","b","c"], [1,2,3], ["alpha", "beta", "gamma"]))
threezip

[('a', 1, 'alpha'), ('b', 2, 'beta'), ('c', 3, 'gamma')]

Unzipping
---------

In [74]:
name_age_pairs = [
    ('alice', 10), ('beatrice', 11), ('candy', 10), #
    ('dolly', 9), ('elaine', 8)
]

# We can also "unzip" a list of pairs
# notice the "*" in zip(* ... )
unzipped_names, unzipped_ages = zip(*name_age_pairs)

In [75]:
unzipped_names

('alice', 'beatrice', 'candy', 'dolly', 'elaine')

In [76]:
unzipped_ages

(10, 11, 10, 9, 8)

In [77]:
# ... we can also unzip a list of triples
threezip = [('a', 1, 'alpha'), ('b', 2, 'beta'), ('c', 3, 'gamma')]
abc, onetwothree, alphabetagamma = zip(*threezip)

In [78]:
abc

('a', 'b', 'c')

In [79]:
onetwothree

(1, 2, 3)

In [80]:
alphabetagamma

('alpha', 'beta', 'gamma')

Extra material
-------------
### Socratica videos

* Lists : https://youtu.be/ohCDWZgNIU0
* Sorting : https://youtu.be/QtwhlHP_tqc