Loops
====

For-loops
-------

In [2]:
# How to loop over numbers 0 to 9
for i in range(10): 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
# ... starting at 4
for i in range(4, 10): 
    print(i)

4
5
6
7
8
9

In [2]:
# We can loop over any list
girl_names = ["alice", "beatrice", "candy", 
    "dolly", "elaine", "francine", "geraldine"]

for name in girl_names:
    print(name)

alice
beatrice
candy
dolly
elaine
francine
geraldine

In [5]:
# ... and in reverse order
for name in reversed(girl_names):
    print(name)

geraldine
francine
elaine
dolly
candy
beatrice
alice

In [6]:
# ... and keeping a running index
for index, name in enumerate(girl_names):
    print(index, " -> ", name)

0  ->  alice
1  ->  beatrice
2  ->  candy
3  ->  dolly
4  ->  elaine
5  ->  francine
6  ->  geraldine

In [18]:
girl_names = ["alice", "beatrice", "candy", 
    "dolly", "elaine", "francine", "geraldine"]
their_ages = [3,3,7,10,15,11,31]

# ... and we can loop over zips
for name, age in zip(girl_names, their_ages):
    print("name : ", name )
    print("   age  : ", age)

name :  alice
   age  :  3
name :  beatrice
   age  :  3
name :  candy
   age  :  7
name :  dolly
   age  :  10
name :  elaine
   age  :  15
name :  francine
   age  :  11
name :  geraldine
   age  :  31

While loops
----------

In [1]:
# Do something while some statement is true
number = 144
while number % 2 == 0 : # while number is divisible by 2,  ...
    number = number // 2 # divide it by two

print(number)

9

Looping like a pythonista
-----------------------

Python is not like classic languages (C, Fortran, Pascal).

DO NOT DO ANY OF THE FOLLOWING THINGS IN PYTHON:

In [12]:
girl_names = ["alice", "beatrice", "candy", 
    "dolly", "elaine", "francine", "geraldine"]
their_ages = [3,3,7,10,15,11,31]

# Looping over a list...
# This works, but is terrible!
# YOU SHOULD NOT LOOP LIKE THIS!!
for i in range(len(girl_names)):
    print(girl_names[i])

alice
beatrice
candy
dolly
elaine
francine
geraldine

In [13]:
# Looping in reverse over a list...
# This works, but is terrible!
# YOU SHOULD NOT LOOP LIKE THIS!!
for i in range(len(girl_names)):
    print(girl_names[len(girl_names) - i -1])

geraldine
francine
elaine
dolly
candy
beatrice
alice

In [14]:
# Looping in reverse over a list...
# This works, but is terrible!
# YOU SHOULD NOT LOOP LIKE THIS!!
for i in range(len(girl_names)):
    print(girl_names[len(girl_names) - i -1])

geraldine
francine
elaine
dolly
candy
beatrice
alice

In [15]:
# Keeping a running index.
# This works, but is terrible!
# YOU SHOULD NOT LOOP LIKE THIS!!
index = 0
for name in girl_names:
    print(index, " -> ", name)
    index = index +1

0  ->  alice
1  ->  beatrice
2  ->  candy
3  ->  dolly
4  ->  elaine
5  ->  francine
6  ->  geraldine

In [17]:
# Looping over two lists.
# This works, but is terrible!
# YOU SHOULD NOT LOOP LIKE THIS!!
for i in range(min(len(girl_names), len(their_ages))):
    print("name : ", girl_names[i] )
    print("   age  : ", their_ages[i])

name :  alice
   age  :  3
name :  beatrice
   age  :  3
name :  candy
   age  :  7
name :  dolly
   age  :  10
name :  elaine
   age  :  15
name :  francine
   age  :  11
name :  geraldine
   age  :  31