Python language basics
==========

Comments
---------

In [1]:
# Everything on a line after a '#' is ignored by Python

Basic calculations with numbers
-----------------

Addition works as expected

In [1]:
1+2

3

 ... so does subtraction

In [5]:
2.5 - 6

-3.5

... and division.

In [4]:
3/2

1.5

The floor division operator // throws away everything after the decimal point (as in long division)

In [1]:
13 // 5  # quotient of 13 divided by 5 (disragarding the fractional part or remainder)

2

... and the % operator gives the remainder of a division (as in long division)

In [6]:
13 % 5  # remainder when 13 is divided by 5

3

The power operator \** is often useful $(2^4=16)$

In [8]:
2**4

16

Variables
---------

We can assign values to variables

In [9]:
a = 5
b = 6

... and then compute with them:

In [11]:
a + b

11

We can reassign their values,

In [15]:
a = 9

... to change the outcome of the computation

In [16]:
a + b

15

Strings (text)
---------

Strings store text. We use either ' ... ' or " ... " to denote a string

In [17]:
"This is a string"

'This is a string'

In [18]:
'This is also a string'

'This is also a string'

We can join strings using the "+" operator.
This is called *concatenation*.

In [19]:
"begin" + "ner" + "s"

'beginners'

 We can assign strings to variables...

In [20]:
part1 = "This is a message "
part2 = "for you"

... and concatenate the variables

In [22]:
full_message = part1 + part2
full_message

'This is a message for you'

We can access individual characters of a string.
(Remember that we index from starting from zero!)

In [23]:
n = 2
full_message[n]

'i'

We can also multiply strings.

Plug your ears and go ...

In [24]:
"la"*10

'lalalalalalalalalala'

Unpacking
-----------

There is a more efficient way of writing

```python
a = 1
b = 2
c = 3
d = 4
```

The following is called *unpacking*:

In [29]:
a, b, c, d = 1,2,3,4
# or
a, b, c, d = (1,2,3,4)

In [30]:
d

4

We are not restricted to just numbers.
We can unpack anything

In [31]:
firstname, lastname, age = ("john", "von neumann", 103)
lastname

'von neumann'

In [32]:
age

103

The print function
---------

We can output text to the screen using the "print" function

In [34]:
print(5+4)
print("This is a message")
print("The answer is", 42)

9
This is a message
The answer is 42

## The str, int and float functons

We can convert numbers to strings with the str function:

In [1]:
str(12)

'12'

... and strings to numbers using the int or float functions:

In [2]:
int("13")

13

In [3]:
float("1.111")

1.111

Comparisons
---------------

We can ask Python if statements are true of false

In [35]:
4 < 6

True

In [36]:
4 <= 6

True

In [37]:
4 >= 6

False

In [38]:
5<5

False

In [39]:
5<=5

True

Notice the double equals "==" when asking is an equality is true:

In [40]:
3 == 3

True

In [41]:
3 == 4

False

... a single "=" will not work to compare numbers:

In [42]:

3 = 3

SyntaxError: can't assign to literal (<ipython-input-42-49c8ce3fc03c>, line 2)

The "!=" operator means "not equal to"

In [43]:
3 != 4

True

We can also compare variables

In [44]:
a,b,c = 5,6,7

In [45]:
b != 7

True

In [46]:
a < 5

False

In [47]:
a <= 5

True

In [48]:
b <= a

False

In [49]:
a < b < c

True

We can also do computations in comparisons.
Is the remainder when dividing by 2 equal to zero, i.e., Is b even? Is c even?

In [51]:
b % 2 == 0     # 6 is even

True

In [53]:
c % 2 == 0     # 7 is odd

False