Lists
========================

Lists are a fundamental data structure in Python.
As the name suggests, we use them to store a collection of objects in a list (order matters)

We make a list using the [ ... ] notation.

In [1]:
boy_names = [
    "benny", "adam", "bobby", 
    "randal", "timmy", "cartman", 
    "morty","junior-son", 
    "voldemort", "boeta", "pula",
    "zane"
]

How long is this list?

In [2]:
len(boy_names)

12

Is "morty" in the list?

In [3]:
"morty" in boy_names

True

Is "xavier" in the list?

In [4]:
"xavier" in boy_names

False

We can access the zeroth element in the list.

In [5]:
boy_names[0]

'benny'

WARNING!
Remember that we always start index from zero!

We will distinguish between the "first" and "oneth" element.
"First element of boy_names" is ambiguous, 
do we mean boy_names[0] or boy_names[1] ?

By "oneth" or "1-th" element of boy_names we will always mean boy_names[1].

In [6]:
boy_names[1]

'adam'

We can access the last-th element in the list, by using the -1 index. (This is why we index starting from zero)

In [7]:
boy_names[-1]

'zane'

... and can access the 2nd last-th element with the -2 index

In [8]:

boy_names[-2]

'pula'

We can replace an element

In [9]:

boy_names[1] = "adriaan"
boy_names

['benny',
 'adriaan',
 'bobby',
 'randal',
 'timmy',
 'cartman',
 'morty',
 'junior-son',
 'voldemort',
 'boeta',
 'pula',
 'zane']

... and remove an element

In [10]:
del boy_names[1] 
boy_names

['benny',
 'bobby',
 'randal',
 'timmy',
 'cartman',
 'morty',
 'junior-son',
 'voldemort',
 'boeta',
 'pula',
 'zane']

... and append an element to the end of the list

In [11]:
boy_names.append("sabelo")
boy_names

['benny',
 'bobby',
 'randal',
 'timmy',
 'cartman',
 'morty',
 'junior-son',
 'voldemort',
 'boeta',
 'pula',
 'zane',
 'sabelo']

Tuples
----------

Tuples are like lists, but they are immutable. This means it is not possible to change tuples.

We make a tuples using the ( ... ) notation

In [54]:
boy_names_tuple = (
    "benny", "adam", "bobby", 
    "randal", "timmy", "cartman", 
    "morty","junior-son", 
    "voldemort", "boeta", "pula",
    "zane"
)

How long is the tuple?

In [15]:
len(boy_names_tuple)

12

Is "morty" in the tuple?

In [16]:
"morty" in boy_names_tuple

True

We can access the last-th element

In [24]:
boy_names_tuple[-1]

'zane'

... but we cannot change the tuple by replacing elements. Trying results in an error.

In [18]:
# We cannot change a tuple, so the
# following gives an error
boy_names_tuple[1] = "adriaan"

TypeError: 'tuple' object does not support item assignment

List slicing 
---------

List slicing is an efficient method of cutting off parts if a list.

In [19]:
girl_names = ["alice", "beatrice", "candy", 
    "dolly", "elaine", "francine", "geraldine"]

 We use the ":" operator to make a slice. The following slice results in a new list containing the oneth,twoth, etc. elements:

In [22]:

girl_names[1:]

['beatrice', 'candy', 'dolly', 'elaine', 'francine', 'geraldine']

We can also slice from the other end. The following list contains everything up to the twoth element, and excludes the threeth element onwards:

In [21]:

girl_names[:3]

['alice', 'beatrice', 'candy']

We can also slice using negative indeces. The following  list contains everything but the last-th element.

In [23]:

girl_names[:-1]

['alice', 'beatrice', 'candy', 'dolly', 'elaine', 'francine']

... and all but the second-last-th and last-th elements:

In [25]:
girl_names[:-2]

['alice', 'beatrice', 'candy', 'dolly', 'elaine']

The following list contains the oneth, twoth, threeth, fourth, elements (excluding the fiveth element onward).

In [27]:
girl_names[1:5]

['beatrice', 'candy', 'dolly', 'elaine']

Slicing also works for tuples and for strings:

In [28]:
name = "Marlon Brando"
name[-4:]

'ando'

List concatenation
---------

Concatenation means combining two lists end to end. We can use the `+` operator to concatenate two or more lists.

In [8]:
A = ["a", "b", "c"]
B = [1,2,3]
C = ["alpha","beta","gamma", "delta"]

In [9]:
A+B

['a', 'b', 'c', 1, 2, 3]

In [10]:
C+B

['alpha', 'beta', 'gamma', 'delta', 1, 2, 3]

Sorting
----------

We very often want to sort lists. Python includes powerful methods to perform different kinds of sorting. We will work with the following list:

In [55]:
boy_names = [
    "benny", "adam", "bobby", 
    "randal", "timmy", "cartman", 
    "morty","junior-son", 
    "voldemort", "boeta", "pula",
    "zane"
]

The default ordering for strings is alphabetically. We can just use the "sorted" function:

In [30]:
sorted(boy_names)

['adam',
 'benny',
 'bobby',
 'boeta',
 'cartman',
 'junior-son',
 'morty',
 'pula',
 'randal',
 'timmy',
 'voldemort',
 'zane']

We can easily sort reverse-alphabetically

In [4]:
sorted(boy_names, reverse=True)

['zane',
 'voldemort',
 'timmy',
 'randal',
 'pula',
 'morty',
 'junior-son',
 'cartman',
 'boeta',
 'bobby',
 'benny',
 'adam']

... or by length of the strings

In [5]:
sorted(boy_names, key = len)

['adam',
 'pula',
 'zane',
 'benny',
 'bobby',
 'timmy',
 'morty',
 'boeta',
 'randal',
 'cartman',
 'voldemort',
 'junior-son']

We can sort with respect to any conceivable ordering. E.g. The following sorts the list alphabetically according to the one-th letter. (See the section on lambda expressions).

In [31]:
sorted(boy_names, key = lambda item: item[1])

['randal',
 'cartman',
 'zane',
 'adam',
 'benny',
 'timmy',
 'bobby',
 'morty',
 'voldemort',
 'boeta',
 'junior-son',
 'pula']

Zipping 
---------------------

Zipping is an efficient way to combine two (or more) lists pairwise. Consider the two lists:

In [37]:
girl_names = ["alice", "beatrice", "candy", "dolly", "elaine"]
their_ages = [10, 11, 10, 9, 8]

We can "zip" these two lists together to get a "zip"  object (zip objects are iterable objects. Their purpose is for optimizing RAM usage).

In [38]:
name_age_pairs = zip(girl_names, their_ages)
name_age_pairs

The zip object can be converted to a list.

In [39]:
list(name_age_pairs)

[('alice', 10), ('beatrice', 11), ('candy', 10), ('dolly', 9), ('elaine', 8)]

 Warning! When zipping lists of 
 unequal length the result will 
 have the length of the shortest
 list:

In [40]:

result = list(zip(["a","b","c"], [1,2,3,4,5,6]))
result

[('a', 1), ('b', 2), ('c', 3)]

 We can also zip more than two lists:

In [41]:

threezip = list(zip(["a","b","c"], [1,2,3], ["alpha", "beta", "gamma"]))
threezip

[('a', 1, 'alpha'), ('b', 2, 'beta'), ('c', 3, 'gamma')]

Unzipping
---------

Unzipping is the opposite of zipping. I.e., Given a list of pairs, we can unzip the list into two lists: one list containing the first elements of the pairs and one list containing the second elements of the pairs.

Consider:

In [43]:
name_age_pairs = [
    ('alice', 10), ('beatrice', 11), ('candy', 10), #
    ('dolly', 9), ('elaine', 8)
]

... which we unzip (notice the "*"):

In [44]:
unzipped_names, unzipped_ages = zip(*name_age_pairs)

Let's inspect the lists unzipped_names and unzipped_ages

In [47]:
unzipped_names

('alice', 'beatrice', 'candy', 'dolly', 'elaine')

In [48]:
unzipped_ages

(10, 11, 10, 9, 8)

We can also unzip lists of triples:

In [49]:
threezip = [('a', 1, 'alpha'), ('b', 2, 'beta'), ('c', 3, 'gamma')]
abc, onetwothree, alphabetagamma = zip(*threezip)

In [50]:
abc

('a', 'b', 'c')

In [51]:
onetwothree

(1, 2, 3)

In [52]:
alphabetagamma

('alpha', 'beta', 'gamma')

Application: Combining zip and list slicing to form adjacent pairs
---------

Say we have a list L=[1,2,3,4,5,6,7,8,9] and we want to construct a new list of all adjacent pairs from L : [(1,2),(2,3),(3,4),(5,6),(6,7),(7,8),(9,8)]. 

An elegant way of constucting this list is to use a zip with a list slice:

In [1]:
L = [1,2,3,4,5,6,7,8,9]
pairs = list(zip(L,L[1:]))

In [2]:
pairs

[(1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

Do make sure you understand how the list slice and zip works together here.